body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.calculator {
    text-align: center;
}

#display {
    width: 216px;
    margin-bottom: 10px;
    border-radius: 9px;
    height: 24px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 15px; /* Adjusted padding for a larger button */
    font-size: 18px;
    background-color: rgb(255, 255, 255); /* White background */
    border: none; /* Removed border */
    border-radius: 30px;
    cursor: pointer;
}

.operator {
    background-color: rgb(255, 132, 0);
    color: black;
}

button[data-value="0"] {
    width: 40px;
}
